@keyframes anvil {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
      transform: scale(0.96) translateY(10px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
  }
  .popup-content {
    -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    padding: 40px 30px 45px 30px;
    height: 460px;
    border-radius: 20px;
    width: 250px;
    align-content: center;
    justify-content: center;
    border: solid rgb(156, 22, 9);
    border-width: 10px;
    background-color: rgb(238, 219, 98);
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  }
  
  .home-page{
    align-content: center;
    padding: 10px 10px 20px 10px;
    text-align: center;
  }
  .home-page-btn{
    border-radius: 10px;
    height: 50px;
    width: 150px;
  }

  .sound-control{
    padding: 10px 10px 20px 10px;
    text-align: center;
    align-content: center;
  }

  .sound-control-btn{
    height: 50px;
    width: 150px;
    border-radius: 10px;
  }

  .about{
    align-content: center;
    padding: 10px 10px 20px 10px;
    text-align: center;
  }
  .about-btn{
    height: 50px;
    width: 150px;
    border-radius: 10px;
  }
  .quit{
    align-content: center;
    padding: 10px 10px 30px 10px;
    text-align: center;
  }
  .quit-btn{

    height: 50px;
    width: 150px;
    border-radius: 10px;
  }