.list-demo-action-layout .image-area {
  width: 183px;
  height: 119px;
  border-radius: 2px;
  text-overflow: ellipsis;
}

.list-demo-action-layout .image-area img {
  width: 100%;
}

.list-demo-action-layout .arco-list-item-action .arco-icon {
  margin: 0 4px;
}

.demo
  {
    padding: 0 40px;
    color: #282f38;
    background-color: var(--color-bg-2);
    border-radius: 2px 2px 0 0;
}

.arco-list-item-meta {
  display: flex;
  align-items: center;
  padding: 0 0;
  align-items: flex-start;
}

.arco-list-item-meta{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.arco-list-item-meta-avatar {
  font-weight: bold;
  padding-right: 10px;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.arco-list-item-meta-description {
  color: var(--color-text-2);
  padding-left: 100px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.layout-collapse-demo .arco-layout-content {
  display: flex;
  justify-content: flex-start;
  padding:20px 10px;
}

.arco-list-item-meta-title {
  display: flex;
  justify-content: flex-end;
}

.modal {
  height: 60%;
}

.test{
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow-y: auto;
  word-wrap: break-word;
  word-break: break-all;
}