
.display_wrapper{
    background-color: black;
    display: flex;
    
    flex-direction: column;
    text-align: center;
    
    height: 100%;

  }
.start-game{
    align-content: center;
    padding: 60px 10px 30px 10px;
    text-align: center;

}
.start-game-btn{
    width: 300px;

}